/*-- scss:defaults --*/

$ucsd-navy: #182B49;
$ucsd-navy: #1e407c;
$ucsd-blue: #00629B;
$ucsd-yellow: #FFCD00;
$ucsd-gold: #C69214;
$red: red;
$blue: blue;
$green: green;
$yellow: yellow;
$orange: orange;
$purple: purple;
$gray: gray;
$grey: gray;
$dblue: #1058ad;
$orchid: #db43d5;
$magenta: #D462AD;
$dorange: #ff5900;
$dodgerblue: #1e90ff;
$dpurple: rgb(122, 45, 245);
$orange: #FC8900;


.ucsd-navy{ color:  #1e407c;}
.ucsd-blue{ color:  #00629B;}
.ucsd-navy{ color:  #182B49;}
.ucsd-yellow{ color:  #FFCD00;}
.ucsd-gold{ color:  #C69214;}
.red{ color:  red;}
.blue{ color:  blue;}
.green{ color:  green;}
.yellow{ color:  yellow;}
.orange{ color:  orange;}
.purple{ color:  purple;}
.gray{ color:  gray;}
.grey{ color:  gray;}
.dblue{ color:  #1058ad;}
.orchid{ color:  #db43d5;}
.magenta{ color:  #D462AD;}
.dorange{ color:  #ff5900;}
.dodgerblue{ color:  #1e90ff;}
.dpurple{ color:  rgb(122, 45, 245);}
.orange{ color:  #FC8900;}