/*-- scss:rules --*/
#title-slide {

    .author,
    .quarto-title-author-name {
        color: $ucsd-navy;
        font-size: 1.1em;
        // font-family: $headingFont;
        font-family: $mainFont;
        color: $ucsd-gold;
    }

    p,
    a {
        color: $ucsd-navy;
        font-size: 1.0em;
    }

    h1 {
        font-family: $titleFont;
        color: $ucsd-navy;
        font-size: 2.5em;
    }

    // p.author::before,
    // div.quarto-title-author::before {
    // h1::after {
    //     content: "";
    //     display: block;
    //     border: none;
    //     background-color: $ucsd-gold;
    //     color: $ucsd-gold;
    //     height: 3px;
    //     margin-bottom: 0.25em;
    // }
    .quarto-title-authors {
        display: flex;
        justify-content: left;

        .quarto-title-author {
            padding-left: 0em;
            padding-right: 0em;
            width: 100%;
        }
    }
}